body {
    background-image: url('images/1fa008e875d79160217eb03b071ca569.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.header {
    font-family: 'Cinzel', serif;
    height: 100px;
    color: goldenrod;
    font-size: 50px;
    padding-bottom: 5%;
}
h1 {
    text-align: center; 
    margin: auto;
}
h3 {
    margin: auto;
    text-align: center; 
    
}
input {
    margin: auto;
    text-align: center; 
    padding-left: 40%;
    padding-right: 40%;
}

.container {
    padding-left: 51%;
    padding-right: 40%;
    width: 200px;
    color: goldenrod;
}
@media only screen and (max-width: 414px) {
    input {
        margin: auto;
        text-align: center; 
        padding-left: 40%;
        padding-right: 40%;
    }
    
    .container {
        padding-left: 1%;
        padding-right: 40%;
        width: 160px;
        color: goldenrod;
        background-color: black;
        text-align: center;
    }
    
  }